# ---- Terraform ----
.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log

# ---- Variáveis sensíveis ----
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# ---- Planos ----
*.tfplan
tfplan
plan.out

# ---- Credenciais / chaves ----
.oci/
*.pem
*.key
id_rsa*
id_ed25519*

# ---- Editores / SO ----
.idea/
.vscode/
*.swp
.DS_Store
